<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div style="display: flex; justify-content: center; align-items: center;">
        <img style="width: 100vw; height: 100vh;"src="https://img.freepik.com/free-vector/tiny-people-testing-quality-assurance-software-isolated-flat-vector-illustration-cartoon-character-fixing-bugs-hardware-device-application-test-it-service-concept_74855-10172.jpg?w=996&t=st=1661577053~exp=1661577653~hmac=bfffcb8e2247f7dc0870abb9fefa06fd2db5e71b9673c983fa50e672d60dfee2">
    </div>
    

<%- include('includes/end.ejs') %>